[Unit]
Description=nycts server

[Service]
Restart=on-failure
User=root
WorkingDirectory=/opt/nycts

ExecStart=gunicorn 'app:app' --bind '0.0.0.0:8000' --workers 4 --access-logfile "-" --error-logfile "-"

[Install]
WantedBy=multi-user.target